<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Servlets</display-name>
	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>PreLogin</servlet-name>
		<url-pattern>/PreLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PreLogin</servlet-name>
		<servlet-class>com.bridgelabz.servlets.PreLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreRegister</servlet-name>
		<url-pattern>/PreRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PreRegister</servlet-name>
		<servlet-class>com.bridgelabz.servlets.PreRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.bridgelabz.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreSuccessServlet</servlet-name>
		<url-pattern>/PreSuccessServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PreSuccessServlet</servlet-name>
		<servlet-class>com.bridgelabz.servlets.PreSuccessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.bridgelabz.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PassWordReset</servlet-name>
		<url-pattern>/PassWordReset</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PassWordReset</servlet-name>
		<servlet-class>com.bridgelabz.servlets.PassWordReset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreErrorServlet</servlet-name>
		<url-pattern>/PreErrorServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PreErrorServlet</servlet-name>
		<servlet-class>com.bridgelabz.servlets.PreErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.bridgelabz.servlets.LogoutServlet</servlet-class>
	</servlet>

	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/LoginServlet</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.bridgelabz.servlets.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegistrationFilter</filter-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>RegistrationFilter</filter-name>
		<filter-class>com.bridgelabz.servlets.RegistrationFilter</filter-class>
	</filter>
	<listener>
		<listener-class>com.bridgelabz.servlets.MyListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.bridgelabz.servlets.Listner_Context</listener-class>
	</listener>
	<listener>
		<listener-class>com.bridgelabz.servlets.SessionListner</listener-class>
	</listener> 
</web-app>